/* CSS Document */
/* CSS Document */
body {
  padding: 0px;
  margin: 0px; }

header nav {
  position: fixed;
  width: 100%;
  height: 100px;
  top: 0px;
  left: 0px; 
  background: url('../images/mockup.png') no-repeat;

}

header nav ul {
  margin: 80px 500px;
}
  header nav ul li {
    float: left;
    padding: 0px 20px; }
    header nav ul li a {
      color: #fff; }

#main .slide {
  min-height: 100px;
  min-width: 100%;
  float: left; }
#main #slide0 {
  background: #4c0099;
  overflow: hidden;
  text-align: center;
   }
#main #slide1 {
  background: #990099; }
#main #slide2 {
  background: #99004d; }
#main #slide3 {
  background: #990000; }
